[Unit]
Description=Traffic Monitor pod

[Pod]
PodName=traffic-monitor
ServiceName=traffic-monitor
Network=tmnet.network
PublishPort=1880:1880
PublishPort=1883:1883
PublishPort=1964:1984
PublishPort=5000:5000
PublishPort=8080:8080
PublishPort=8564:8554
PublishPort=8565:8555/tcp
PublishPort=8566:8555/udp
PublishPort=8971:8971
ShmSize=1024m

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
