########
# This file contains configuration settings executed by node-red
# Note: Comments will be removed by updates from node-red
########

# Optional: IoT hub backend integration
thingsboard:
    # Optional: enable connection to backend thingsboard server (default: shown below)
    enabled: False
    # Required: host name, without protocol or port number
    host: tb.server.com
    # Required: thingsboard telemetry protocol (default: shown below), 
    # NOTE: only http(s) currently supported, mqtt coming soon
    #  see https://thingsboard.io/docs/reference/protocols/
    protocol: https
    # Optional: port, common settings: https=443, http=80, mqtt=1883
    # Check with your ThingsBoard admin for settings
    port: 443
    # Optional: API key for device 
    # Note: (Future) if already provisioned, will be assigned based on provisionDeviceKey and secret
    api_key:
    # Optional: future use for auto-provisioning (RPiSN)
    # provisionDeviceKey: 
    # Optional: future use for auto-provisioning (manual)
    # provisionDeviceSecret: 

# Optional: deployment location details
# Note: May be used to determine device placement on maps
# NOTE: Can be overridden at the sensors level, top-level values will cascade down
deployment:
    # NOTE: for address-level accuracy, recommend at least 4 digits after the decimal
    # Optional: Latitude in decimal degrees format; e.g. 45.5225
    lat:
    # Optional: Longitude in decimal degrees format; e.g. -122.6919
    lon:
    # Optional: cardinal (N, S, E, W) or ordinal (NE, NW, SE, etc.) direction the camera/radar is facing 
    # Note: For bearing, match the roadway traffic direction
    bearing:

sensors:
    # Optional: if used, must match the Frigate camera name(s)
    # if not set, no cameras will be used
    cameras:
        # camera name must match Frigate configuration camera names
        camera_name:
            # Optional Enable/disable the camera (default: shown below).
            # if disabled, any Frigate events for specified camera will be ignored
            # Note: this will not impact Frigate's system
            enabled: False
            # Optional: define the radar co-located with camera to associate speeds
            # camera and radar direction and field of view (FOV) should match
            # Note: name needs to match one defined in `radars` section
            # Note: A single radar may be attached to multiple cameras
            camera_radar: TM_RADAR_SERIAL_PORT_00

    # Optional: used to specify what radars are enabled for speed/direction and detection
    radars:
        # Note: Names must match those defined in the node-red environment file
        # Names are used to associate readings with cameras and other sensors
        TM_RADAR_SERIAL_PORT_00:
            # Optional: Enable/disable the radar (default: shown below).
            enabled: False

    # Optional: used to specify air quality monitor sensors
    # Note: air quality configuration file is separate from the node-red config, based on the aq device
    aq_monitor:
        # Optional: Enable/disable the AQ sensor payloads (default: shown below).
        enabled: False
        # mqtt topic to subscribe for incoming telemetry from sensors
        mqtt_topic_incoming: aq/readings

time:
    # Optional: Set a timezone to use in the UI (default: use browser local time)
    # NOTE: shall be in unix tz format: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
    #  this will also set the timezone for the entire system
    timezone: America/Los_Angeles
    # Optional: For internet-connected deployments, sync using `timedatectl set-npt` (default: shown below)
    # Note: for offline deployments, time will stop whenever power is disconnected
    npt_set: True
