---
# TMSetup - Coral TPU Setup tasks

- name: TMSetup - Coral TPU Setup - Add Coral-TPU deb apt repo and key
  become: true
  ansible.builtin.deb822_repository:
    name: coral-edgetpu-stable
    install_python_debian: true
    types: deb
    uris: https://packages.cloud.google.com/apt
    suites: coral-edgetpu-stable
    components: main
    architectures: amd64
    signed_by: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    state: present

- name: TMSetup - Coral TPU Setup - Install runtime library
  become: true
  ansible.builtin.apt:
    update_cache: true
    name: libedgetpu1-std
    state: present

...
