---
# This set up of tasks is still a work in progress - there are severe issues with 6.12+ kernel versions and the gasket-dkms driver
# Setup tasks for PCIe or M.2 Coral TPU devices.

- name: TMSetup - Coral TPU PCI Setup - Enable PCIe connector at bootup
  become: true
  ansible.builtin.blockinfile:
    path: /boot/firmware/config.txt
    block: |
      # Enable the PCIe External connector.
      dtparam=pciex1
      kernel=kernel8.img
      # Enable Pineboards Hat Ai
      dtoverlay=pineboards-hat-ai
    append_newline: true
    prepend_newline: true
    create: true
    owner: root
    group: root
    mode: '0644'
    state: present

- name: TMSetup - Coral TPU PCI Setup - Get package facts
  ansible.builtin.package_facts:

- name: TMSetup - Coral TPU PCI Setup - Build and install gasket-dkms if not already installed
  when: ansible_facts['packages']['gasket-dkms'] is not defined
  block:
    - name: TMSetup - Coral TPU PCI Setup - Copy gasket-build.Dockerfile
      become: true
      ansible.builtin.copy:
        src: gasket-builder.Dockerfile
        dest: "{{ tmsetup_codedir }}/tmp/gasket-builder.Dockerfile"
        mode: '0644'

    - name: TMSetup - Coral TPU PCI Setup - Run Docker build
      become: true
      ansible.builtin.command:
        chdir: "{{ tmsetup_codedir }}/tmp"
        cmd: docker build -f gasket-builder.Dockerfile --output . .
        creates: "{{ tmsetup_codedir }}/tmp/gasket-dkms_1.0-18_all.deb"

    - name: TMSetup - Coral TPU PCI Setup - Install gasket-dkms from .deb
      become: true
      ansible.builtin.apt:
        deb: "{{ tmsetup_codedir }}/tmp/gasket-dkms_1.0-18_all.deb"
        state: present

- name: TMSetup - Coral TPU PCI Setup - Create apex udev rules to manage device permissions
  become: true
  ansible.builtin.copy:
    src: 65-apex.rules
    dest: /etc/udev/rules.d/65-apex.rules
    owner: root
    group: root
    mode: '0644'

- name: TMSetup - Coral TPU PCI Setup - Create apex group
  become: true
  ansible.builtin.group:
    name: apex
    state: present

- name: TMSetup - Coral TPU PCI Setup - Add codeowner to apex group
  become: true
  ansible.builtin.user:
    name: '{{ tmsetup_codeowner }}'
    groups: apex
    append: true

        
- name: TMSetup - Main - Detector - Reset PCIe Coral device
  ansible.builtin.shell: setpci -s {{ tmsetup_detectors.edgetpu_pci.device_address }} COMMAND=0x06
  changed_when: true

...
