---
- name: TMSetup - Detectors Check - (exists) Check if plugged in and powered
  ansible.builtin.shell: "{{ item.value.check_exists }} 2>/dev/null"
  register: check_result
  ignore_errors: true
  failed_when: false
  changed_when: false
  loop: "{{ tmsetup_detectors | dict2items }}"
  loop_control:
    label: "{{ item.key }}"

- name: TMSetup - Detectors Check - (device_address) Extract bus, device, function number
  ansible.builtin.set_fact:
    device_address: >-
      {{
        (item.stdout
          | regex_search('([0-9a-fA-F]{4}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}\.[0-9a-fA-F])')
        ) | default('')
      }}
  loop: "{{ check_result.results }}"
  loop_control:
    label: "{{ item.item.key }}"
  register: address_extraction

- name: TMSetup - Detectors Check - (dev_path_available) Stat for path to check for driver/firmware
  ansible.builtin.stat:
    path: "{{ item.value.dev_path }}"
  register: path_stat
  ignore_errors: true
  loop: "{{ tmsetup_detectors | dict2items }}"
  loop_control:
    label: "{{ item.key }}"

- name: TMSetup - Detectors Check - Merge exists, device_address, dev_path_available
  ansible.builtin.set_fact:
    tmsetup_detectors: >-
      {{
        tmsetup_detectors | default({}) |
        combine({
          found_detector.item.key: tmsetup_detectors[found_detector.item.key] |
            combine({
              'exists': (found_detector.rc == 0),
              'dev_path_available': path_stat.results
                | selectattr('item.key', 'equalto', found_detector.item.key)
                | map(attribute='stat')
                | map(attribute='exists')
                | first,
              'device_address': (address_extraction.results
                | selectattr('item.item.key', 'equalto', found_detector.item.key)
                | map(attribute='ansible_facts.device_address')
                | first) | default('')
            })
        })
      }}
  loop: "{{ check_result.results }}"
  loop_control:
    label: "{{ found_detector.item.key }}"
    loop_var: found_detector

...