--- 

- name: TMSetup - Main - Detector - Check Hailo-8 exists and not installed
  become: true
  when:
    - tmsetup_detectors.hailo8l is defined
    - tmsetup_detectors.hailo8l.exists
    - not tmsetup_detectors.hailo8l.dev_path_available
  tags:
    - docker
    - frigate
    - detectors
  notify: TMSetup - Flag for reboot
  block:
    - name: TMsetup - Main - Detector - Setup Hailo-8 Firmware and Drivers
      ansible.builtin.import_tasks:
        file: hailo8_setup.yml

    - name: TMSetup - Main - Detector - Check for attached Detectors to run installs
      tags:
        - docker
        - frigate
      ansible.builtin.import_tasks:
        file: detectors_check.yml

    - name: TMSetup - Main - Detector - set tmsetup_detectors.hailo8l.fresh_install is true
      ansible.builtin.set_fact:
        tmsetup_detectors: "{{ tmsetup_detectors | default({}) | combine({
          'hailo8l': (tmsetup_detectors.hailo8l | default({})) | combine({
            'fresh_install': true
            })
          }) }}"

- name: TMSetup - Main - Detector - Check PCIe Coral TPU exists and not installed
  become: true
  when:
    - tmsetup_detectors.edgetpu_pci is defined
    - tmsetup_detectors.edgetpu_pci.exists
    - not tmsetup_detectors.edgetpu_pci.dev_path_available
  tags:
    - docker
    - frigate
    - detectors
  notify: TMSetup - Flag for reboot
  block: 
    - name: TMSetup - Main - Detector - Setup Coral TPU Runtime Library
      ansible.builtin.import_tasks:
        file: coraltpu_setup.yml

    - name: TMSetup - Main - Detector - Setup PCI Coral TPU Drivers
      ansible.builtin.import_tasks:
        file: coraltpu_pci_setup.yml

    - name: TMSetup - Main - Detector - Check for attached Detectors to run installs
      tags:
        - docker
        - frigate
      ansible.builtin.import_tasks:
        file: detectors_check.yml

    - name: TMSetup - Main - Detector - set tmsetup_detectors.edgetpu_pci.fresh_install is true
      ansible.builtin.set_fact:
        tmsetup_detectors: "{{ tmsetup_detectors | default({}) | combine({
          'edgetpu_pci': (tmsetup_detectors.edgetpu_pci | default({})) | combine({
            'fresh_install': true
            })
          }) }}"

...