---
- name: TMSetup - Detectors Check - Run existence check for each detector
  command: "{{ item.check_exists }}"
  register: check_result
  ignore_errors: true
  changed_when: false
  loop: "{{ tmsetup_detectors }}"
  loop_control:
    label: "{{ item.name }}"

- name: TMSetup - Detectors Check - Stat the device path for each detector
  stat:
    path: "{{ item.dev_path }}"
  register: path_stat
  loop: "{{ tmsetup_detectors }}"
  loop_control:
    label: "{{ item.name }}"

- name: TMSetup - Detectors Check - Build a dict of detector enabled flags and addresses [for PCIe devices]
  set_fact:
    tmsetup_detectors: >-
      {{
        (tmsetup_detectors | default([]))
        + [ item.item
            | combine({
                'enabled': (item.rc == 0),
                'installed': (path_stat.results[loop.index0].stat.exists | default(false)),
                'dev_address': (
                  (item.rc == 0) and (item.item.frigate_device | lower == 'pci')
                ) | ternary(
                  (item.stdout | regex_search('^\\s*([0-9a-fA-F]{4}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}\\.\\d)')),
                  None
                )
              })
          ]
      }}
  loop: "{{ check_result.results }}"
  loop_control:
    label: "{{ item.item.name }}"

- name: TMSetup - Detectors Check - Show enabled / installed status for each detector
  debug:
    msg: |
      Detector {{ item.name }}:
        enabled:   {{ item.enabled }}
        installed: {{ item.installed }}
        {% if item.dev_address is defined and item.dev_address %}
        PCIe address: {{ item.dev_address }}
        {% endif %}
  loop: "{{ tmsetup_detectors }}"
  loop_control:
    label: "{{ item.name }}"
    
...