---
# TMSetup - Main tasks
- name: TMSetup - Main - Set variables
  tags:
    - always
  ansible.builtin.import_tasks:
    file: 'set_vars.yml'

- name: TMSetup - Main - Setup base
  tags:
    - base
    - always
  ansible.builtin.import_tasks:
    file: base_setup.yml

- name: TMSetup - Main - Apt Full Upgrade (for remote hosts)
  tags:
    - full_upgrade
  when: tmsetup_perform_apt_upgrade | bool
  ansible.builtin.import_tasks:
    file: apt_upgrade.yml

- name: TMSetup - Main - Setup go2rtc driver
  tags:
    - go2rtc
  ansible.builtin.import_tasks:
    file: go2rtc_setup.yml

- name: TMSetup - Main - Setup Docker
  tags:
    - docker
    - frigate
    - node-red-tm
    - coraltpu
  ansible.builtin.import_tasks:
    file: docker_setup.yml

# detect and set up Hailo: https://github.com/hailo-ai/hailo-apps/blob/main/scripts/check_installed_packages.sh
- name: Find Hailo device
  become: true
  shell: lspci -nn | grep -i hailo
  register: hailo_cmd
  changed_when: false
  ignore_errors: true

- name: Parse Hailo output
  become: true
  set_fact:
    hailo_exists: "{{ hailo_cmd.stdout != '' }}"
    hailo_dev: >-
      {{ (hailo_cmd.stdout | regex_search('^([0-9a-fA-F]{4}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}\\.[0-9])')) | default('') }}
  when: hailo_exists
  block: 
    - name: TMSetup - Main - Setup Hailo-8
      tags:
        - hailo8
      ansible.builtin.import_tasks:
        file: hailo8_setup.yml

    # Reset Hailo device (if found)
    - name: Reset Hailo device
      shell: setpci -s {{ hailo_dev }} COMMAND=0x06
      when: hailo_exists
      register: hailo_reset
      changed_when: true

# detect and set up Coral TPU
- name: Find Coral device
  become: true
  shell: lspci -nn | grep -i coral
  register: coral_cmd
  changed_when: false
  ignore_errors: true

- name: Parse Coral output
  become: true
  set_fact:
    coral_exists: "{{ coral_cmd.stdout != '' }}"
    coral_dev: >-
      {{ (coral_cmd.stdout | regex_search('^([0-9a-fA-F]{4}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}\\.[0-9])')) | default('') }}
  when: coral_exists
  block: 
    - name: TMSetup - Main - Setup Coral TPU Runtime Library
      tags:
        - coraltpu
      ansible.builtin.import_tasks:
        file: coraltpu_setup.yml

    - name: TMSetup - Main - Setup PCI Coral TPU Drivers
      tags:
        - coraltpu
      ansible.builtin.import_tasks:
        file: coraltpu_pci_setup.yml

    # Reset Coral device (if found)
    - name: Reset Coral device
      shell: setpci -s {{ coral_dev }} COMMAND=0x06
      when: coral_exists
      register: coral_reset
      changed_when: true

- name: TMSetup - Main - Setup Frigate
  tags:
    - frigate
  ansible.builtin.import_tasks:
    file: frigate_setup.yml

- name: TMSetup - Main - Setup Node-Red-TM
  tags:
    - node-red-tm
  ansible.builtin.import_tasks:
    file: node-red-tm_docker_setup.yml

- name: TMSetup - Main - Setup plate-recognizer
  when: tmsetup_bool_plate_recognizer | default('false') | bool
  tags:
    - plate-recognizer
  ansible.builtin.import_tasks:
    file: docker_plate_recognizer.yml

- name: TMSetup - Main - Setup WiFI
  tags:
    - wifi
  ansible.builtin.import_tasks:
    file: wifi_setup.yml

- name: TMSetup - Main - Start Services
  tags:
    - wifi
    - docker
    - frigate
    - node-red-tm
    - nodered
    - go2rtc
  ansible.builtin.import_tasks:
    file: start_services.yml

- name: TMSetup - Base Setup - Check if reboot needed
  tags:
    - always
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: tmsetup_reboot_required_stat_register
  changed_when: tmsetup_reboot_required_stat_register.stat.exists
  notify: TMSetup - Flag for reboot

...
