---
# TMSetup - Main tasks
- name: TMSetup - Main - Perform minimum ansible fact gathering
  tags:
    - always
  ansible.builtin.setup:
    gather_subset: min
  when: not ansible_facts.keys() | list |
    intersect(tmsetup_base_required_facts) == tmsetup_base_required_facts

- name: TMSetup - Main - Set Architecture specific variables
  tags:
    - always
  ansible.builtin.include_vars:
    file: '{{ ansible_architecture }}_vars.yml'

- name: TMSetup - Main - Setup base
  tags:
    - base
  ansible.builtin.import_tasks:
    file: base_setup.yml

- name: TMSetup - Main - Apt Full Upgrade (for remote hosts)
  when: tmsetup_perform_apt_upgrade | bool
  ansible.builtin.import_tasks:
    file: apt_upgrade.yml

- name: TMSetup - Main - Setup go2rtc driver
  tags:
    - go2rtc
  ansible.builtin.import_tasks:
    file: go2rtc_setup.yml

- name: TMSetup - Main - Setup Docker
  tags:
    - docker
    - frigate
    - coraltpu
  ansible.builtin.import_tasks:
    file: docker_setup.yml

- name: TMSetup - Main - Setup Coral TPU Runtime Library
  tags:
    - coraltpu
  ansible.builtin.import_tasks:
    file: coraltpu_setup.yml

- name: TMSetup - Main - Setup PCI Coral TPU Drivers
  tags:
    - coraltpu
  ansible.builtin.import_tasks:
    file: coraltpu_pci_setup.yml

- name: TMSetup - Main - Setup Frigate
  tags:
    - frigate
  ansible.builtin.import_tasks:
    file: frigate_setup.yml

- name: TMSetup - Main - Setup Node Red
  tags:
    - nodered
  ansible.builtin.import_tasks:
    file: nodered_setup.yml

- name: TMSetup - Main - Setup WiFI
  tags:
    - wifi
  ansible.builtin.import_tasks:
    file: wifi_setup.yml

- name: TMSetup - Main - Start Services
  tags:
    - wifi
    - docker
    - frigate
    - nodered
    - go2rtc
  ansible.builtin.import_tasks:
    file: start_services.yml

- name: TMSetup - Base Setup - Check if reboot needed
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: tmsetup_reboot_required_stat_register
  changed_when: tmsetup_reboot_required_stat_register.stat.exists
  notify: TMSetup - Flag for reboot

...
