---
# TMSetup - Main tasks
- name: TMSetup - Main - Set variables
  tags:
    - always
  ansible.builtin.import_tasks:
    file: set_vars.yml

- name: TMSetup - Main - Setup base
  tags:
    - base
    - always
  ansible.builtin.import_tasks:
    file: base_setup.yml

- name: TMSetup - Main - Apt Full Upgrade (for remote hosts)
  tags:
    - full_upgrade
  when: tmsetup_perform_apt_upgrade | bool
  ansible.builtin.import_tasks:
    file: apt_upgrade.yml

- name: TMSetup - Main - Setup go2rtc driver
  tags:
    - go2rtc
  ansible.builtin.import_tasks:
    file: go2rtc_setup.yml

- name: TMSetup - Main - Setup Docker
  tags:
    - docker
    - frigate
    - node-red-tm
  ansible.builtin.import_tasks:
    file: docker_setup.yml

- name: TMSetup - Main - Detector - Check for attached Detectors to run installs
  tags:
    - docker
    - frigate
    - detectors
  ansible.builtin.import_tasks:
    file: detectors_check.yml

- name: TMSetup - Main - Detector - Check Hailo-8 exists and not installed
  become: true
  when: >
    (tmsetup_detectors.hailo8l is defined) and
    tmsetup_detectors.hailo8l.exists and
    not tmsetup_detectors.hailo8l.dev_path_available
  tags:
    - docker
    - frigate
    - detectors
  notify: TMSetup - Flag for reboot
  block:
    - name: TMsetup - Main - Detector - Setup Hailo-8 Firmware and Drivers
      ansible.builtin.import_tasks:
        file: hailo8_setup.yml

    - name: TMSetup - Main - Detector - Check for attached Detectors to run installs
      tags:
        - docker
        - frigate
      ansible.builtin.import_tasks:
        file: detectors_check.yml

    - name: TMSetup - Main - Detector - set tmsetup_detectors.hailo8l.fresh_install is true
      ansible.builtin.set_fact:
        tmsetup_detectors: "{{ tmsetup_detectors | default({}) | combine({
          'hailo8l': (tmsetup_detectors.hailo8l | default({})) | combine({
            'fresh_install': true
            })
          }) }}"

- name: TMSetup - Main - Detector - Check PCIe Coral TPU exists and not installed
  become: true
  when: >
    (tmsetup_detectors.edgetpu_pci is defined) and
    tmsetup_detectors.edgetpu_pci.exists and
    not tmsetup_detectors.edgetpu_pci.dev_path_available
  tags:
    - docker
    - frigate
    - detectors
  notify: TMSetup - Flag for reboot
  block: 
    - name: TMSetup - Main - Detector - Setup Coral TPU Runtime Library
      ansible.builtin.import_tasks:
        file: coraltpu_setup.yml

    - name: TMSetup - Main - Detector - Setup PCI Coral TPU Drivers
      ansible.builtin.import_tasks:
        file: coraltpu_pci_setup.yml

    - name: TMSetup - Main - Detector - Check for attached Detectors to run installs
      tags:
        - docker
        - frigate
      ansible.builtin.import_tasks:
        file: detectors_check.yml

    - name: TMSetup - Main - Detector - set tmsetup_detectors.edgetpu_pci.fresh_install is true
      ansible.builtin.set_fact:
        tmsetup_detectors: "{{ tmsetup_detectors | default({}) | combine({
          'edgetpu_pci': (tmsetup_detectors.edgetpu_pci | default({})) | combine({
            'fresh_install': true
            })
          }) }}"
        
- name: TMSetup - Main - Setup Frigate
  tags:
    - frigate
  ansible.builtin.import_tasks:
    file: frigate_setup.yml

- name: TMSetup - Main - Setup Node-Red-TM
  tags:
    - node-red-tm
  ansible.builtin.import_tasks:
    file: node-red-tm_docker_setup.yml

- name: TMSetup - Main - Setup plate-recognizer
  when: tmsetup_bool_plate_recognizer | default('false') | bool
  tags:
    - plate-recognizer
  ansible.builtin.import_tasks:
    file: docker_plate_recognizer.yml

- name: TMSetup - Main - Setup WiFI
  tags:
    - wifi
  ansible.builtin.import_tasks:
    file: wifi_setup.yml

- name: TMSetup - Main - Start Services
  tags:
    - wifi
    - docker
    - frigate
    - node-red-tm
    - plate-recognizer
    - go2rtc
  ansible.builtin.import_tasks:
    file: start_services.yml

- name: TMSetup - Base Setup - Check if reboot needed
  tags:
    - always
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: tmsetup_reboot_required_stat_register
  changed_when: tmsetup_reboot_required_stat_register.stat.exists
  notify: TMSetup - Flag for reboot

...
