---
# tmsetup Node Red setup tasks
- name: TMSetup - Node Red Setup - Create Node Red directories
  become: true
  loop:
    - '{{ tmsetup_codedir }}/nodered'
    - '{{ tmsetup_codedir }}/nodered/db'
    - '{{ tmsetup_codedir }}/nodered/installer'
    - '{{ tmsetup_codedir }}/backup'
    - '{{ tmsetup_codedir }}/.node-red'
  ansible.builtin.file:
    group: '{{ tmsetup_codegroup }}'
    mode: '0750'
    owner: '{{ tmsetup_codeowner }}'
    path: '{{ item }}'
    state: directory

- name: TMSetup - Node Red Setup - Create link at .node-red to user home if not same
  become: true
  when: ansible_user_dir != tmsetup_codedir
  ansible.builtin.file:
    path: '{{ tmsetup_codeowner_homedir }}/.node-red'
    src: '{{ tmsetup_codedir }}/.node-red'
    state: link

- name: TMSetup - Node Red Setup - Get latest NodeRed update and install script
  become: true
  ansible.builtin.get_url:
    backup: true
    dest: '{{ tmsetup_codedir }}/nodered/installer/update-nodejs-and-nodered'
    group: '{{ tmsetup_codegroup }}'
    mode: '0750'
    owner: '{{ tmsetup_codeowner }}'
    url: 'https://raw.githubusercontent.com/node-red/linux-installers/master/deb/update-nodejs-and-nodered'
  register: tmsetup_nodered_download_installer_register

- name: TMSetup - Node Red Setup - Run Node Red installer
  when: tmsetup_nodered_download_installer_register.changed # noqa: no-handler
  block:
    - name: TMSetup - Node Red Setup - Give code owner full sudo privs for setup
      become: true
      community.general.sudoers:
        commands: ALL
        host: ALL
        name: 'tmsetup_tm_{{ tmsetup_codeowner }}'
        nopassword: true
        state: present
        user: '{{ tmsetup_codeowner }}'

    - name: TMSetup - Node Red Setup - Run Node Red installer if changed
      become: true
      ansible.builtin.command: >
        su - {{ tmsetup_codeowner }} -c
        '{{ tmsetup_codedir }}/nodered/installer/update-nodejs-and-nodered \
         --confirm-install \
         --confirm-pi \
         --no-init \
         --node20 \
         --nodered-user={{ tmsetup_codeowner }}'
      register: tmsetup_nodered_installer_register
      changed_when: tmsetup_nodered_installer_register.rc == 0
      notify: Restart nodered service

  rescue:
    - name: TMSetup - Node Red Setup - Revert to backup from node red-installer
      become: true
      when:
        - tmsetup_nodered_download_installer_register.backup_file is defined
        - tmsetup_nodered_download_installer_register.backup_file is file
      ansible.builtin.copy:
        dest: '{{ tmsetup_codedir }}/nodered/installer/update-nodejs-and-nodered'
        group: '{{ tmsetup_codegroup }}'
        mode: '0750'
        owner: '{{ tmsetup_codeowner }}'
        remote_src: true
        src: '{{ tmsetup_nodered_download_installer_register.backup_file }}'

    - name: TMSetup - Node Red Setup - Clean up installer if no backup
      become: true
      when: ( tmsetup_nodered_download_installer_register.backup_file is not defined ) or
            ( not tmsetup_nodered_download_installer_register.backup_file is file )
      ansible.builtin.file:
        dest: '{{ tmsetup_codedir }}/nodered/installer/update-nodejs-and-nodered'
        state: absent

    - name: TMSetup - Node Red Setup - Fail out
      ansible.builtin.fail:
        msg: |
          Node Red installation failed.  Details:
          {{ tmsetup_nodered_installer_register }}
  always:
    - name: TMSetup - Node Red Setup - Remove temporary sudo privileges
      become: true
      community.general.sudoers:
        name: 'tmsetup_tm_{{ tmsetup_codeowner }}'
        state: absent

- name: TMSetup - Node Red Setup - Create templated files
  become: true
  loop:
    - config.yml
    - environment
  ansible.builtin.template:
    dest: '{{ tmsetup_codedir }}/.node-red/{{ item }}'
    force: '{{ tmsetup_force_configs }}'
    group: '{{ tmsetup_codegroup }}'
    mode: '0640'
    owner: '{{ tmsetup_codeowner }}'
    src: node-red/{{ item }}.j2
  notify: Restart nodered service

- name: TMSetup - Node Red Setup - Copy relevant static files for node red deployment
  become: true
  loop:
    - flows_cred.json
    - flows.json
    - package.json
    - README.md
    - settings.js
  ansible.builtin.copy:
    dest: '{{ tmsetup_codedir }}/.node-red/{{ item }}'
    group: '{{ tmsetup_codegroup }}'
    mode: '0640'
    owner: '{{ tmsetup_codeowner }}'
    src: 'node-red-project/{{ item }}'
  notify: Restart nodered service

- name: TMSetup - Node Red Setup - Install project dependencies
  become: true
  community.general.npm:
    path: '{{ tmsetup_codedir }}/.node-red'
    production: true
    unsafe_perm: true
  notify: Restart nodered service

- name: TMSetup - Node Red Setup - Correct module permissions
  become: true
  ansible.builtin.file:
    group: '{{ tmsetup_codegroup }}'
    owner: '{{ tmsetup_codeowner }}'
    path: '{{ tmsetup_codedir }}/.node-red/node_modules'
    recurse: true
  notify: Restart nodered service

...
