services:
  nginx:
    container_name: nginx
    restart: unless-stopped
    build: .
    ports:
      - "80:80"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tmsetup_codedir }}/nginx:/etc/nginx
