1	[Unit]
2	Description=Frigate container for Traffic Monitor
3	After=go2rtc_server.service podman.socket
4	Wants=go2rtc_server.service
5
6	[Container]
7	ContainerName=frigate
8	Image=frigate-tm.build
9	Pod=traffic-monitor.pod
10	ShmSize=512m
11	{% for name, detector in tmsetup_detectors.items() %}{% if (detector.dev_path_available | default(false) and detector.exists | default(false)) or detector.fresh_install | default(false) %}
12	AddDevice={{ detector.dev_path }}:{{ detector.dev_path }}
13	{% endif %}{% endfor %}
14	AddDevice={{ tmsetup_hevc_device }}:{{ tmsetup_hevc_device }}
15	AddDevice=/dev/video19:/dev/video19
16	Volume=/etc/localtime:/etc/localtime:ro
17	Volume={{ tmsetup_codedir }}/frigate/config:/config
18	Volume={{ tmsetup_codedir }}/frigate/storage:/media/frigate
19	Tmpfs=/tmp/cache:size=1g,rw,mode=1777
20	EnvironmentFile={{ tmsetup_codedir }}/frigate/frigate.env
21
22	[Service]
23	Restart=on-failure
24
25	[Install]
26	WantedBy=default.target node-red-tm.service
27