[Unit]
Description=Traffic Monitor Node Red container

[Container]
ContainerName=node-red-tm
Image=node-red-tm.build
Pod=traffic-monitor.pod
Volume=/etc/localtime:/etc/localtime:ro
Volume={{ tmsetup_codedir }}/node-red-tm/config:/config
Volume={{ tmsetup_codedir }}/node-red-tm/data:/data
Volume={{ tmsetup_codedir }}/node-red-tm/db:/db
GroupAdd=dialout
GroupAdd={{ tmsetup_codeowner_uid }}
User={{ tmsetup_codeowner_uid }}
EnvironmentFile={{ tmsetup_codedir }}/node-red-tm/node-red-tm.env
{% if tmsetup_radars_confirmed is defined and tmsetup_radars_confirmed is iterable %}
{% for rad in tmsetup_radars_confirmed %}
AddDevice={{ rad }}
{% endfor %}
{% endif %}


[Service]
Restart=on-failure
# Apply tmdb.sqlite schema migrations before Node-RED opens the database (see {{ tmsetup_codedir }}/node-red-tm/schema/README.md).
# The leading "-" starts Node-RED even if a migration fails; that migration is rolled back and logged.
ExecStartPre=-/usr/sbin/runuser -u {{ tmsetup_codeowner }} -- /usr/bin/python3 {{ tmsetup_codedir }}/node-red-tm/schema/tmdb_migrate.py --db {{ tmsetup_codedir }}/node-red-tm/db/tmdb.sqlite
# Backing up and migrating a large database can take minutes.
TimeoutStartSec=30min

[Install]
WantedBy=default.target plate-recognizer.service