[Unit]
Description=Traffic Monitor Node Red container
After=frigate.service
Wants=frigate.service

[Container]
ContainerName=node-red-tm
Image=node-red-tm.build
Pod=traffic-monitor.pod
Volume=/etc/localtime:/etc/localtime:ro
Volume={{ tmsetup_codedir }}/node-red-tm/config:/config
Volume={{ tmsetup_codedir }}/node-red-tm/data:/data
Volume={{ tmsetup_codedir }}/node-red-tm/db:/db
GroupAdd=dialout
GroupAdd={{ tmsetup_codeowner_uid }}
User={{ tmsetup_codeowner_uid }}
EnvironmentFile={{ tmsetup_codedir }}/node-red-tm/node-red-tm.env
{% if tmsetup_radars_confirmed is defined and tmsetup_radars_confirmed is iterable %}
{% for rad in tmsetup_radars_confirmed %}
AddDevice={{ rad }}
{% endfor %}
{% endif %}


[Service]
Restart=on-failure

[Install]
WantedBy=default.target plate-recognizer.service nginx-rproxy-tm.service