services:
  frigate:
    container_name: frigate
    privileged: false
    restart: unless-stopped
    image: ghcr.io/blakeblackshear/frigate:{{ tmsetup_frigate_version }}
    shm_size: "256MB"
    devices:
      - /dev/bus/usb:/dev/bus/usb 
      - /dev/apex_0:/dev/apex_0
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tmsetup_codedir }}/frigate/config:/config
      - {{ tmsetup_codedir  }}/frigate/storage:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "5000:5000"
      - "1964:1984" # go2rtc api
      - "8564:8554" # RTSP feeds
      - "8565:8555/tcp" # WebRTC over tcp
      - "8565:8555/udp" # WebRTC over udp
    env_file: "frigate.env"
