################################################################################
# Frigate NVR Compose
# mqtt credentials come from broker (set up via node-red)
################################################################################
services:
  frigate:
    container_name: frigate
    privileged: true # this may not be necessary for all setups
    restart: unless-stopped
    image: ghcr.io/blakeblackshear/frigate:0.13.2
    shm_size: "128mb" # update for your cameras based on calculation https://docs.frigate.video/frigate/installation#calculating-required-shm-size
    devices:
      - /dev/bus/usb:/dev/bus/usb # passes the USB Coral, needs to be modified for other versions
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ~/code/frigate/config:/config
      - ~/code/frigate/storage:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "5000:5000"
      - "1964:1984" # go2rtc api
      - "8564:8554" # RTSP feeds
      - "8565:8555/tcp" # WebRTC over tcp
      - "8565:8555/udp" # WebRTC over udp
    environment:
      FRIGATE_RTSP_PASSWORD: "password"
      PLUS_API_KEY: "abc"
      FRIGATE_MQTT_USER: "mqtt_user"
      FRIGATE_MQTT_PASSWORD: "mqtt_pass"
