# Frigate environment variables
FRIGATE_RTSP_PASSWORD="{{ tmsetup_frigate_rtsp_password }}"
PLUS_API_KEY=""
FRIGATE_MQTT_USER="{{ tmsetup_frigate_mqtt_user }}"
FRIGATE_MQTT_PASSWORD="{{ tmsetup_frigate_mqtt_password }}"
FRIGATE_HOME_DIR="{{ tmsetup_codehomedir }}/frigate"
FRIGATE_VERSION="{{ tmsetup_frigate_version }}"
