################################################################################
# common-services configuration file
# start services in order of dependencies
################################################################################

include:
  - {{ tmsetup_codedir }}/docker/frigate/docker-compose-frigate.yaml
  - {{ tmsetup_codedir }}/docker/node-red-tm/docker-compose-node-red-tm.yaml
{% if tmsetup_bool_plate_recognizer is defined and tmsetup_bool_plate_recognizer %}
  - {{ tmsetup_codedir }}/docker/plate-recognizer/docker-compose-plate-recognizer.yaml
{% endif %}