[Unit]
Description=Build of Traffic Monitor NGinx Reverse Proxy image

[Build]
SetWorkingDirectory={{ tmsetup_codedir }}/nginx-rproxy-tm
File=Containerfile
Pull=newer
ImageTag=localhost/ngnix-rproxy-tm:latest
