[Unit]
Description=Traffic Monitor NGinx Reverse Proxy container

[Container]
ContainerName=nginx-rproxy-tm
Image=nginx-rproxy-tm.build
Pod=traffic-monitor.pod
Volume=/etc/localtime:/etc/localtime:ro
Volume={{ tmsetup_codedir }}/nginx-rproxy-tm/html:/usr/share/nginx/html:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
