---
# tmsetup handlers
- name: Restart go2rtc_server service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: go2rtc_server.service
    state: restarted

- name: Reload udev rules and trigger
  become: true
  ansible.builtin.shell: udevadm control --reload && udevadm trigger

- name: Restart journald service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: systemd-journald.service
    state: restarted

- name: Restart NetworkManager service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: NetworkManager.service
    state: restarted

- name: Build container images
  become: true
  community.docker.docker_compose_v2:
    build: always
    files:
      - ./docker/compose.yaml
    project_src: "{{ tmsetup_codedir }}"
    recreate: always
    state: stopped
  notify: Remove named containers

- name: Remove named containers
  become: true
  community.docker.docker_compose_v2:
    build: always
    files:
      - ./docker/compose.yaml
    project_src: "{{ tmsetup_codedir }}"
    recreate: always
    state: absent

- name: Restart tm-docker service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: tm-docker.service
    state: "{{ 'stopped' if tmsetup_restart_required else 'restarted' }}"
  async: 600
  poll: 0

- name: TMSetup - Flag for reboot
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/handlers/reboot_handler.yml"

...
