---
# tmsetup handlers
- name: Restart go2rtc_server service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: go2rtc_server.service
    state: restarted

- name: Reload udev rules and trigger
  become: true
  ansible.builtin.shell: udevadm control --reload-rules && udevadm trigger

- name: Tear down existing container images
  become: true
  community.docker.docker_compose_v2:
    files:
      - ./docker/compose.yaml
    project_src: "{{ tmsetup_codedir }}"
    state: absent
    remove_images: all
    remove_orphans: true

- name: Build container images
  become: true
  community.docker.docker_compose_v2:
    build: always
    files:
      - ./docker/compose.yaml
    project_src: "{{ tmsetup_codedir }}"
    recreate: always
    state: stopped

- name: Restart journald service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: systemd-journald.service
    state: restarted

- name: Restart NetworkManager service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: NetworkManager.service
    state: restarted

- name: Restart tm-docker service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: tm-docker.service
    state: restarted
  notify: 
    - Tear down existing container images
    - Build container images

- name: TMSetup - Flag for reboot
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/handlers/reboot_handler.yml"

...
