---
# tmsetup handlers
- name: Restart go2rtc_server service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: go2rtc_server.service
    state: restarted

- name: Reload udev rules and trigger
  become: true
  ansible.builtin.shell: udevadm control --reload-rules && udevadm trigger

- name: Restart journald service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: systemd-journald.service
    state: restarted

- name: Restart NetworkManager service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: NetworkManager.service
    state: restarted

- name: Restart tm-docker service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: tm-docker.service
    state: restarted

- name: TMSetup - Flag for reboot
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/handlers/reboot_handler.yml"

...
